body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box !important;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.ol-control {
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.ol-control button{
    margin: 0!important;
    background-color: #4973A8;
    margin-top: 2px;
}

.ol-rotate {
    top: 55px;
    right: 8px !important;
}

.ol-zoom {
    right: 8px !important;
    left: initial;
}


.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;
    margin-left: 10px;
    margin-top: 10px;
}

.dataTables_info{
    margin-bottom: 10px;
    margin-left: 10px;
}


#tableWrapper {
    width: 100%;
    overflow: auto;
}

.ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(100,150,0,1);
}

.cs-datagrid-table{
    font-family: Tahoma, Geneva, sans-serif !important;
}

.cs-datatype-dg-media-item{

    padding: 10px;
}

.cs-datatype-fd-media-item-image {
    width: 256px;
    margin: 4px 10px 4px 10px;
}

.cs-datagrid-tableRowItem{
    cursor: pointer;
}

.gs-featureDetail-toolButtons{
    margin: 10px 10px 20px 10px !important;
}

.cs-featureDetail-wrapper{
    font-family: Tahoma, Geneva, sans-serif !important;
    padding: 0  10px 10px 10px;
}

.cs-featureDetail-item-wrapper{
    padding: 0;
    margin: 2px;
    border-top: 1px dotted #ccc;
}

.cs-featureDetail-item-name{
    display:inline-block;
    width: 120px;
    padding: 2px;
    font-weight: bold;
}
.cs-featureDetail-item-name:after{
    content: ': ';
}

.cs-featureDetail-item-value{
    font-style: italic;
}

.cs-featureDetail-form > button {
    margin: 4px;
}

.cs-featureDetail-formButtons > button  {
    margin: 4px;
}

.cs-featureDetail-form-item {
    width:100%;
}

.cs-featureDetail-noSelected{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

.cs-datatype-fd-datetime-date{
    margin-right:8px;
}

.cs-datatype-geom-fd-loc{
    cursor: pointer;
}

.cs-datatype-geom-dg {
    cursor: pointer;
}

.cs-feature-popup-item-wrapper {
    cursor: pointer;
    margin: 1px;
    min-width: 250px;
}

.cs-feature-popup-item-wrapper:hover {
    background-color: #99bbdd;
}

.cs-feature-popup-item-name, .cs-feature-popup-item-icon {
    padding: 4px;
}

.cs-filterform-form {
    padding: 20px;
}

.cs-filterform-item-label {
    font-family: Tahoma, Geneva, sans-serif !important;
}

.cs-filterform-item-label:after {
    content: ': ';
}

.cs-filterform-item-input {
    width: 100%;
}

.cs-filterform-buttons {
    margin-top: 20px;
    text-align: right;
}

.cs-filterform-buttons > button {
    margin: 4px;
}

.cs-filterform-form-group {
    width: 100%;
}

.cs-userprofile-form {
    padding: 20px;
}

.cs-user-userProfile-profile {
    margin: 20px;
}

.cs-featureDetail-edit-button {
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.cs-user-userProfile-profile{
    margin: 10px;
}

.cs-user-userProfile-profile-label {
    font-size: small;
}

.cs-user-userProfile-profile-item {

}


.cs-datatype-comment-wrapper{
    margin-top: 20px;
    border-top: 1px #ccc;

}

.cs-datatype-comment-itemwrapper {
    padding: 10px;
}

.cs-datatype-comment-user {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

.cs-datatype-comment-user:after {
    content:': '
}

.cs-datatype-comment-text {
    font-style: normal;
}


.cs-datatype-comment-item {
    border-bottom: 1px dotted #ccc;
}

.cs-datatype-comment-add {
    margin-top: 20px;
    font-style: normal;
}

.cs-datatype-comment-add > button{
    margin: 4px;
}

.cs-datatype-comment-add > input {
    width:100%
}
.sidebar {
    overflow: hidden;
}

#infoContent {
    overflow-x: hidden;
    width:250px;
}